header {
  text-align: center;
  background-color: #c0181d;
  padding: 10px;
}

main {
  background-color: #c0181d;
  height: 700px;
  text-align: center;
}

h1 {
  height: 38px;
  font-family: Anton;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 0.6px;
  text-align: center;
  color: #1f233e;
  padding-top: 40px;
  margin: 0;
}

.pic {
  width: 55px;
  height: 14px;
  margin-top: 10px;
  object-fit: contain;
}

.logo {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: 0px;
  object-fit: scale-down;
}

.container {
  width: 400px;
  margin: auto;
  text-align: center;
}

.footer {
  width: 400px;
  height: 200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Anton;
  color: #1f233e;
}

#input {
  width: 219px;
  height: 37px;
  border-radius: 3.2px;
  border: solid 0.8px #1f233e;
  background-color: inherit;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: Source Sans Pro;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000;
}

#submit {
  width: 125px;
  height: 30px;
  border-radius: 2px;
  border-color: inherit;
  background-color: #1f233e;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

#responseField {
  min-width: 191px;
  min-height: 120px;
  background-color: #1f233e;
  margin: auto;
  margin-top: 25px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  overflow-wrap: break-word;
  padding: 20px;
}

#submit:hover{
  color: #c0181d;
  cursor: pointer;
}

#submit:active{
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ef6b68;
  cursor: pointer;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:disabled {
    background-color: #1f233e;
    color: #c0181d;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid;
    margin-right: 3px;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #1f233e;
    color: #ffffff;
    border-radius: 5px;
    border-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    margin-right: 3px;
    cursor: pointer;
}